{% extends "__layout.twig" %}

{% block menu %}
    <div class="col-2">
    {% include "menu.twig" %}
    </div>
{% endblock %}

{% block content %}
    <h1 style="color: black;">{{ title }}</h1>
    <p style="color: black;">{{ description }}</p>

    <ul class="nav nav-pills my-2 " style="color: black;">
        {% for item in nav %}
        <li class="nav-item">
            <a class="nav-link {{ item.section == section ? 'active' }}" href="/pc_objects/{{ id ~ "?show=" ~ item.section }}">
                {{ item.section_name }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% block objectContent %}
   
{% endblock %}

{% endblock %}

