{% extends "__layout.twig" %}

{% block content %}
    <h1>Изменение информации о ПК</h1>
    <hr>

    {% if message %}
        <div class="alert alert-info">
            {{ message }}
            <a href="/pasta-object/{{ id }}">Открыть измененную информацию о ПК</a>
        </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data" class="row g-3">
        <div class="col-4">
            <label class="form-label"style="color: black;">Название</label>
            <input type="text" class="form-control" name="title" value="{{object.title}}">
        </div>
        <div class="col-4">
            <label class="form-label"style="color: black;">Тип</label>
            <select class="form-control" name="type">
                {% for type in types %}
                <option value="{{ type.type }}" {% if type.title == object.type %}selected{% endif %} >
                    {{ type.type|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image"> 
        </div>
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5">{{object.info}}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Обновить</button>
        </div>
    </form>

{% endblock %}